@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir;
    
}
a{
    text-decoration: none;
}
.container-main{
    max-width: 1120px;
    margin-left: auto;
    margin-right:auto ;
}

.heading_main{
    color: #204D68;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.header_2{
    color: #204D68;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.border_radius_main{
    border-radius:16px ;
}
img.img-fluid.border_radius-main {
    border-radius:16px ;
}
.text_main{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}

.py_16{
    padding-top: 16px !important ;
    padding-bottom: 16px !important;
}
.pl_16{
    padding-left: 16px !important;
}
.pr_16{
    padding-right: 16px !important;
}
.pt_16{
    padding-top: 16px !important;
}
.pb_16{
    padding-bottom: 16px !important;
}
.mr_16{
    margin-right: 16px !important;
}
.pr_13{
    padding-right: 13px;
}
.pt_13{
    padding-top: 13px;
}
.pb_13{
    padding-bottom: 13px;
}
.pl_13{
    padding-left: 13px;
}


@media (max-width: 767px) {
.container-main{
    max-width: 414px;
    margin-left: 3rem;
    margin-right: 3rem; 
}
.column_reverse{
    flex-direction: column-reverse;
    padding-top: 20px;
}


}
@media (min-width: 768px) and (max-width: 1199px) {
    .container-main {
      max-width: 1000px; /* Adjust max-width for tablet screens */
      margin-left: 3rem;
      margin-right: 3rem;
    }
    
  }
  

  

/*=================
 index page style  
 ==================*/

/*=================
Rehabilitation profile
 ==================*/

 ::marker {
    text-align: center !important;
    font-size: x-large;
    color: #F4C430; 
    list-style: none;
}
/* Aftercaredestination page style  */

.asude_background_img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 515px;
    margin-bottom: 16px;
}
.asude_img {
    max-width: 400px;
    max-height: 410px;
}

